@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Cairo', sans-serif;
  background-color: #f0fdf4;
  margin: 0;
}
